@import "../../global.scss";
.portfoliolist{
	font-size: 15px;
	padding: 10px;
	margin-right: 40px;

	cursor: pointer;
   border-radius: 10px;
	&.active{
		  background-color: $mainColor;
		  color: white;
	}
}
